.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
# local terraform dirs and state
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup  
# crash log files
crash.log
# Exclude override files as they are usually used to override resources locally and should not be shared
override.tf
override.tf.json    
*_override.tf
*_override.tf.json